.loadingPage{
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;

    background-color: black;

    display: flex;
    justify-content: flex-end;
    z-index: 3;
}

.loadingPage img{
    height: 140%;
    animation: 1.5s infinite alternate ease-in fly;
}

@media only screen and (max-width: 1200px) {
    .loadingPage img{
        height: 80%;
        align-self: flex-end;
        transform: translateX(30%);
    }
 }

@keyframes fly {
    from {
      scale: 1;
      rotate: 0;
    }
  
    to {
      scale: 1.02;
      rotate: -2deg;
    }
  }