@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Rokkitt:wght@700&display=swap');


@import "nav.css";
@import "loading.css";

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: .5s ease-in-out;

    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    color: white;
}

:root{
    --red: #C62D49;
}

body{
    background-color: black;
    width: 100%;
    max-width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

header{
    overflow: hidden;
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

header h1{
    color: #FFF;
    text-align: center;
    font-family: Rokkitt;
    font-size: calc(80vw/6);
    font-style: normal;
    font-weight: 700;
    line-height: 80%;

    padding-top: 10vh;
}

header h2{
    color: #FFF;
    font-family: Rokkitt;
    font-size: calc(60vw/10);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.headerIMG{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.3;
    background-image: url('../assets/img/sei.jfif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    
    z-index: -1;
}

.hNav{
    position: absolute;
    bottom: 65px;
    width: 85%;
    display: flex;
    justify-content: space-between;
}


.hItm{
    display: flex;
    align-items: center;
    gap: 14px;
    cursor: pointer;
    opacity: .5;
}

.hItmA{
    opacity: .7;
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, .5));
}

.hItm:hover{
    scale: 1.05;
    opacity: 1;

}

.hImg{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hImg img{
    height: 100%;
}

.hText h4{
    font-weight: 700;
    font-size: 22px;
}

.hText p{
    font-size: 18px;
}

a {
    color: inherit; 
    text-decoration: none;
    cursor: pointer;
} 

.sobre { 
    width: 90%;
    max-width: 1400px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 75px;

    padding: 50px 0;
}

.sobre-image{
    min-width: 25vw;
    max-width: 507px;
    height: 678px;
    overflow: hidden;
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.sobre-image img{
    height: 100%;
}

.sobre-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sobre-text h3{
    color: #FFF;
    font-family: Roboto;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin-bottom: 8%;
}

.sobre-text p{
    color: hsla(0, 0%, 100%, 0.7);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.sobre-text span{
    color: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.redes{
    width: 100%;
    margin-top: 30px;

    display: flex;

}

hr{
    width: 70%;
    margin: 50px;
}

.diretoria{

    width: 90%;
}

.diretoria h3{
    color: #FFF;
    font-family: Roboto;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 40px;
}

.cardArea{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2vw;
}

.card {
    width: 400px;
    height: 600px;
    position: relative;
    overflow: hidden;
}

.cardImg {
    background-color: #FFF;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    transition: 1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover .cardImg{
    transform: rotateX(40deg) translateY(50px);
    opacity: 40%;
}

.cardHover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1.5s ease-in-out;

    opacity: 0;
    transform: translateY(30%);
}

.card:hover .cardHover{
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.2s;
}

.card img{
    height: 100%;
}

@media only screen and (max-width: 1080px) {
   .sobre{
    flex-direction: column;
   }

   .sobre-image{
    max-width: 100%;
    height: 50vh;
   }

   .sobre>img{
    display: none;
   }

   .hText{
    display: none;
   }

   .diretoria{
    width: 90%;
   }
}