:root{
    --cAmar: #f2e32b;
    --cVerd: #61b946;
    --cAzul: #1148a1;
    --cRoxo: #a399ca;
    --cVerm: #e23c26;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
}

body::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-image: url('../assets/img/sei.jfif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    
    z-index: -1;
  }

.loading{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    background: radial-gradient(circle, rgb(16, 136, 211) 20%, rgba(0,84,157,1) 100%);
    background-size: contain;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.lPin{
    height: 35%;
}

.lBar{
    width: 18%;
}

.load{
    position: absolute;
    height: 5%;
    bottom: 30.1%;
    left: 41.43%;
}


.game{
    margin-top: 50px;
    width: 80vw;
    aspect-ratio: 19/12;

    overflow: hidden;
    position: relative;
}

.game canvas{
    width: 100%;
}

.gborder{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.gback{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.ghelp {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -80%);
    width: 65%;
}

.ghelp:hover{
    transform: translate(-50%, 0);
}


.gameover{
    position: absolute;
    top: 100%;
    height: 100%;
    width: 100%;
}

.goback{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    height: 70%;
    transition: 0s;
}

.gobotao{
    height: 5%;
    aspect-ratio: 1;
    
    object-fit: cover;
    object-position: 0%;
    cursor: pointer;
    transition: 0s;


    position: absolute;
    left: 67%;
    top: 30%;
}

.gobotao:hover{
    object-position: 51%;
}

.gobotaoc{
    object-position: 100%;
}
.gobotaoc:hover{
    object-position: 100%;
}

.pCardArea{
    width: 50%;
    height: 20%;
    position: absolute;

    bottom: 7%;
    left: 10%;

    display: flex;
    flex-direction: row;
    gap: 2%;
}

.pCard{
    height: 100%;
    cursor: pointer;
}

.cCard{
    height: 20%;

    position: absolute;
    right: -15%;
    bottom: 16.8%;
}

@media only screen and (min-width: 1600px) {
    .game{
        width: 1280px;
    }
  }
